button {
    border: none;
    background: transparent;
    position: relative;
    &:before {
        content: "";
        display: block;
        background: #333;
        width: 5px;
        height: 5px;
        border-radius: 1px;
        position: absolute;
        left: 0px;
        top: 6px;
    }
}